<div class="content-container" >
  		
  		<div class="panel" id="messagePanel">
  			<div class="panel-header clear-fix">{{trip.tripName}}
  				      
                <a href="#/roadtrips" class="btn btn-mini pull-right">Return to Trips</a>
                <a href="#/jointrip"  class="btn btn-mini btn-success pull-right" 
                ng-hide="personExists">Join this Trip</a>
			  	
  			</div>
  			<div class="panel-content">
  				<button id="updateBtn" 
          class=" btn  btn-success" 
          ng-controller="CreatePersonCtrl" 
          ng-click="updateLoc()"
          ng-show="personExists">Update Your Location</button>
  				<ul id="tripdetails">

  					<li>Description: {{trip.tripDescription}}</li>
  					<li><a href="#map-canvas">View Map</a></li>
  					<li>Dates:{{trip.tripStartDate}} to {{trip.tripEndDate}}</li>
  					<li>Roadies:
  							<div ng-repeat="person in trip.people" class="well">
  								{{person.name}}, <br /><a href="tel://{{person.phone}}">{{person.phone}}</a> - 
                    <button class="btn btn-mini btn-success"
                    ng-click="mapPerson(person)">map</button> 
  							</div>
  						
  						
  					</li>
  				</ul>
          <div class="google-map" 
            center="position.coords"
            zoom="zoomProperty" 
            markers="markersProperty"
            latitude="clickedLatitudeProperty"
            longitude="clickedLongitudeProperty"
            
            draggable="true"
            fit="false"
            events="eventsProperty"
            style="height: 400px; width: 90%"
            id="map-canvas">
          </div>
  			</div>
  		</div>
  	</div>