<div class="content-container" >
  		
  		<div class="panel" id="messagePanel">
  			<div class="panel-header clear-fix">{{trip.tripName}}
  				      
                <a href="#/roadtrips" class="btn btn-mini pull-right">Return to Trips</a>
                <a href="#/jointrip"  class="btn btn-mini btn-success pull-right">Join this Trip</a>
			  	
  			</div>
  			<div class="panel-content">
  				
  				<ul id="tripdetails">
  					<li>Description: {{trip.tripDescription}}</li>
  					<li><a href="#map-canvas">View Map</a></li>
  					<li>Dates:{{trip.tripStartDate}} to {{trip.tripEndDate}}</li>
  					<li>Roadies:
  						<ul id="peopleList">
  							<li ng-repeat="person in trip.people">
  								{{person.name}}, {{person.phone}} - 
                    <button class="btn btn-mini btn-success"
                    ng-click="mapPerson(person)">map</button> 
  							</li>
  						</ul>
  						
  					</li>
  				</ul>
          <div class="google-map" 
            center="position.coords"
            zoom="zoomProperty" 
            markers="markersProperty"
            latitude="clickedLatitudeProperty"
            longitude="clickedLongitudeProperty"
            
            draggable="true"
            fit="false"
            events="eventsProperty"
            style="height: 400px; width: 90%"
            id="map-canvas">
          </div>
  			</div>
  		</div>
  	</div>